.Main{
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(34, 34, 34);
}
.main-page{
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 100px auto;
    background-color: rgb(110, 110, 153);
    /* box-shadow: inset 0 0 10px black; */
    box-shadow: black 10px 10px 15px;
    border-radius: 20px;
    padding: 20px;
    background-image: url('One\ Piece.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 0px;
    box-sizing: border-box;
}
.main-page p{
color: rgb(206, 100, 13);    
font-size: 20px;
    font-weight: bold;
}
.main-page a button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
   color: rgb(252, 252, 252);
   background-color: rgb(192, 93, 12);
}