.login{
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 100px auto;
    background-color: rgb(110, 110, 153);
    /* box-shadow: inset 0 0 10px black; */
    box-shadow: black 10px 10px 15px;
    border-radius: 20px;
    padding: 20px;
    background-image: url('One\ Piece.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 0px;
    box-sizing: border-box;
}
.login input[type="text"], .login input[type="password"]{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: black 5px 5px 10px;
}
.textlogin{
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    /* background-color: rgb(138, 66, 126); */
    padding: 5px;
    border-top: none;
    font-weight: bolder;
}
.login button{
   color: rgb(252, 252, 252);
   background-color: rgb(192, 93, 12);
    margin: 10px;
    padding: 10px;
    width: 84%;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    border-top: none;
    font-weight:900;
    box-shadow: black 5px 5px 10px;
    cursor: pointer;

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: bold;

}
/* Eye inside the password input (FIXED) */
.input-group{
  position: relative;
  width: 80%;
  margin: 20px auto;
}

/* Override your .login input rule */
.input-group input[type="password"],
.input-group input[type="text"]{
  width: 100% !important;
  margin: 0 !important;
  padding-right: 45px !important;  /* space for eye */
  box-sizing: border-box;
}

/* Eye button */
.toggle-btn{
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
  width: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}
