.factos{
    background-color: rgb(107, 78, 78);
    padding: 10px;
    text-align: center;
}
input[type="text"]{
    color: blue;
}
input[type="password"]{
    color: green;
}

#Second{
    background-color: rgb(200, 200, 150);
    margin: 20px;
    border-radius: 50px;
    padding: 20px;
    border: 20px solid black;
    border-top: none;
}
#minimalist{
    margin-top: 20px;
    border: 5px solid gray;

}
body{
    background-color: rgb(240, 240, 240);
}
.header{
    background-color: rgba(9, 15, 22, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 10px   ;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(196, 31, 31);
    background-image: url('One\ Piece.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}